<div class="cart-section column" *ngIf="cartItems.length > 0">
  <div class="cart-item" *ngFor="let item of cartItems; let i = index">
    <div class="item-number">{{ i + 1 }}</div>

    <button class="delete-btn" (click)="removeItem(i)" tabindex="1">
      <i class="fas fa-trash-alt"></i>
    </button>

    <div class="img-tooltip-wrapper">
      <img class="thumbnail" [src]="item.product.Image" />
      <div class="tooltip-img">
        <img [src]="item.product.Image" alt="preview" />
      </div>
    </div>

    <div class="item-code">
      {{ item.product.Code || '' }}<br>
      <span class="on-hand" [class.not-enough]="item.quantity > item.product.OnHand">
        Tồn kho: {{ item.product.OnHand | number:'1.0-2' }}
      </span>
    </div>

    <div class="item-name">{{ item.product.Name }}<br></div>

    <div class="item-status">{{ getItemStatus(item.product) }}</div>

    <!-- Unit Dropdown -->
    <div class="unit-dropdown">
      <select [(ngModel)]="item.product.Unit"
              (change)="updateItemUnit(i, item.product.Unit)"
              class="unit-select"
              tabindex="1">
        <option class="unit-select-option"
                *ngFor="let unit of getAvailableUnits(item.product, item.product)"
                [value]="unit"
                [selected]="item.product.Unit === unit">
          {{ unit }}
        </option>
      </select>
    </div>

    <input type="number"
           class="quantity-input"
           [(ngModel)]="item.quantity"
           (ngModelChange)="onQuantityChange(item)"
           min="1"
           tabindex="1"
           [ngClass]="{'not-enough': item.quantity > item.product.OnHand}"
           (keydown.enter)="increaseQuantity(item)">

    <div class="price-diff">
      <input type="text"
             class="price-input"
             [value]="formatPrice(item.unitPrice)"
             (input)="onUnitPriceInput($event, item)"
             tabindex="1"
             (keydown)="validateNumber($event)">

      <span *ngIf="item.unitPriceSaleOff > 0" style="color: #ED232F;">
        - {{ formatPrice(item.unitPriceSaleOff) }}
      </span>
      <span *ngIf="item.unitPriceSaleOff < 0" style="color: #00b63e;">
        + {{ formatPrice(item.unitPriceSaleOff) }}
      </span>
    </div>

    <div class="item-total">{{ formatPrice(item.totalPrice) }}</div>

    <span class="note-format"
          (click)="showNoteForProduct(i)"
          *ngIf="item.product.OrderTemplate && item.product.OrderTemplate.length > 0 && showNoteInputIndex !== i">
      {{ item.product.OrderTemplate }}
    </span>

    <input #noteInput
           (focusout)="updateShowNoteInputIndex(null)"
           *ngIf="showNoteInputIndex === i"
           class="note-input"
           [(ngModel)]="item.product.OrderTemplate"
           tabindex="0"
           placeholder="Ghi chú..."
           (document:keydown.escape)="updateShowNoteInputIndex(null)">
  </div>
</div>
