/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Snackbar styles for sync notifications */
.success-snackbar {
  background-color: #4caf50 !important;
  color: white !important;
}

.success-snackbar .mat-mdc-snack-bar-label {
  color: white !important;
}

.error-snackbar {
  background-color: #f44336 !important;
  color: white !important;
}

.error-snackbar .mat-mdc-snack-bar-label {
  color: white !important;
}
:host {
  display: block;
  animation: slideInLeft 0.5s ease-out;
}

/* Angular Material styles */
.mat-mdc-dialog-surface {
  border-radius: 0 !important;
}
.cdk-overlay-pane.mat-mdc-dialog-panel {
  max-width: 800px!important;
  min-width: 500px!important;
}
/* Angular Material styles */


.slide-in-modal {
  animation: slideInLeft 0.5s ease-out;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.loading-overlay {
  position: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  /* Làm mờ nền */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  /* Đảm bảo overlay nằm trên cùng */
}

/* Spinner hiệu ứng xoay */
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #3f51b5;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.filters-section {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    /* giảm khoảng cách giữa các item */
    align-items: center;
    padding: 8px 12px;
    /* giảm padding */
    /* bo góc nhẹ hơn */
    font-size: 13px;
    /* thu nhỏ font nếu muốn */
    /* Thu nhỏ các input item */

}

.filters-section mat-form-field {
    row-gap: -0;
    margin: 0 1px 1px 0;
    /* Giảm khoảng cách giữa các trường */
    flex: 1 1 1;
    /* Cho phép co giãn */
    margin-bottom: -20px;
      transition: all 0.3s ease;
}


.filters-section.collapsed {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
