<div class="menu-bar">
  <i class="fa-solid fa-wifi bar"
     *ngIf="hasOfflineInvoices"
     style="color: #ff6b6b;"
     title="Có hóa đơn offline chưa đồng bộ"
     (click)="openOfflineInvoicesDialog()"
     matTooltip="Những hóa đơn bán ra khi offline và chưa đồng bộ với hệ thống"></i>

  <i class="fa-solid fa-repeat bar"
     [ngClass]="{'spinning': isReloading}"
     (click)="reload()"
     matTooltip="Đồng bộ sản phẩm giữa kiotviet và hệ thống"></i>

  <i class="fa-solid fa-cart-plus toogle-print"
     (click)="enableOrderMode()"
     [class.disabled]="! isOrderMode"
     matTooltip="Bật tắt chế độ đặt hàng"></i>

  <i class="fa-solid fa-print toogle-print"
     [class.disabled]="!isPrintEnabled"
     (click)="togglePrint()"
     matTooltip="Bật tắt máy in hóa đơn"></i>

  <i class="fa-solid fa-cubes-stacked"
     style="color: #ff6b6b;"
     (click)="openOutOfStockDialog()"
     matTooltip="Danh sách hết hàng tồn kho"></i>

  <span class="admin" 
        (mouseleave)="hideMenu()"
        [matTooltip]="userEmail">{{ displayName }}</span>

  <i class="fa-solid fa-bars bar" (mouseenter)="showMenu()"></i>

  <div class="menu-dropdown" *ngIf="showMenuDropdown" (mouseleave)="hideMenu()">
    <button class="menu-item" (click)="onMenuClick('hanghoa')">
      <i class="fa-solid fa-boxes-stacked menu-icon"></i>
      <span class="menu-text">Hàng Hóa</span>
    </button>
    <button class="menu-item" (click)="onMenuClick('hoadon')">
      <i class="fa-solid fa-receipt menu-icon"></i>
      <span class="menu-text">Hóa đơn</span>
    </button>
    <button class="menu-item" (click)="onMenuClick('khachhang')">
      <i class="fa-solid fa-user menu-icon"></i>
      <span class="menu-text">Khách hàng</span>
    </button>
    <button class="menu-item" (click)="onMenuClick('baocao')">
      <i class="fa-solid fa-chart-pie menu-icon"></i>
      <span class="menu-text">Báo cáo</span>
    </button>
    <button class="menu-item" (click)="onMenuClick('dathang')">
      <i class="fa-solid fa-cart-shopping menu-icon"></i>
      <span class="menu-text">Đặt hàng</span>
    </button>
    <button class="menu-item" (click)="openExternalLink('https://taphoa39ketoan.onrender.com')">
      <i class="fa-solid fa-calculator menu-icon"></i>
      <span class="menu-text">Kế Toán</span>
    </button>
    <div class="menu-divider"></div>
    <button class="menu-item logout" (click)="onMenuClick('dangxuat')">
      <i class="fa-solid fa-right-from-bracket menu-icon"></i>
      <span class="menu-text">Đăng xuất</span>
    </button>
  </div>
</div>