<body autocorrect="off" contenteditable="true">
    <style type="text/css">
        .printBox {
            font-family: Arial, sans-serif;
            font-size: 11px;
        }

        table {
            page-break-inside: auto;
            border-collapse: collapse;

        }

        table td {
            word-wrap: break-word;
            word-break: break-all;
        }

        tr {
            page-break-inside: avoid;
            page-break-after: auto;
            margin-top: -5px;
        }

        img {
            max-width: 100%;
            height: auto;
        }
    </style>
    <div class="printBox" #printSection>
        <!-- <table style="width:100%;">
            <tbody>
            </tbody>
            <tbody>
                <tr>
                    <td style="font-size:11px; text-align:center">
                        <span style="font-size:16px">
                            <strong>TẠP HÓA 39</strong>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="font-size:11px; text-align:center;">ĐC: 25 Nguyễn Phước Tần, ĐN</td>
                </tr>
                <tr>
                    <td style="font-size:11px; text-align:center">TK: 9905084032 - Techcombank -&nbsp;Nguyễn Thị Lâm
                </tr>
                <tr>
                    <td style="font-size:11px; text-align:center">SĐT: 0905.084.032</td>
                </tr>
            </tbody>
        </table> -->

        <div style="padding:10px 0 0; text-align:center"><strong style="font-size:12px">HÓA ĐƠN ĐẶT HÀNG</strong></div>

        <table style="width:100%">
            <tbody>
                <tr>
                    <td style="font-size:11px; text-align:center">Số HĐ: {{ order.id }}</td>
                </tr>
                <tr>
                    <td style="font-size:11px; text-align:center">
                        {{ formatVietnameseDate() }}
                    </td>
                </tr>
            </tbody>
        </table>

        <table style="margin:10px 0 15px; width:100%">
            <tbody>
                <tr>
                    <td style="font-size:11px">Khách hàng: {{ order.customer?.Name||'Khách lẻ' }}</td>
                </tr>
                <tr>
                    <td style="font-size:11px">SĐT: {{ order.customer?.ContactNumber }}</td>
                </tr>
            </tbody>
        </table>

        <table cellpadding="3" style="width:98%">
            <thead>
                <tr>
                    <td style="border-bottom:1px solid black; border-top:1px solid black; width:40%"><span
                            style="font-size:11px"><strong>Đơn giá</strong></span></td>
                    <td style="border-bottom:1px solid black; border-top:1px solid black; text-align:center; width:10%">
                        <span style="font-size:11px"><strong>SL</strong></span>
                    </td>
                    <td style="border-bottom:1px solid black; border-top:1px solid black; text-align:center">
                        <strong><span style="font-size:11px">ĐVT</span></strong>
                    </td>
                    <td style="border-bottom:1px solid black; border-top:1px solid black; text-align:right; width:25%">
                        <span style="font-size:11px"><strong>Thành tiền</strong></span>
                    </td>
                </tr>
            </thead>
            <tbody *ngFor="let item of order.cartItems ; let i = index">


                <tr>
                    <td colspan="4" style="padding-top:3px"><span style="font-size:11px">
                            <span style="font-family:Arial,Helvetica,sans-serif">{{ order.cartItems[i].product.Name
                                }}<ng-container *ngIf="getProductAttributeValue(i) as attrValue"> - {{ attrValue
                                    }}</ng-container>
                            </span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="border-bottom:1px dashed black">
                        <span style="font-size:11px">
                            <span style="font-family:Arial,Helvetica,sans-serif">
                                <ng-container *ngIf="order.cartItems[i].unitPriceSaleOff > 0; else basePriceOnly">
                                    <s>{{ order.cartItems[i].product.BasePrice | number:'1.0-0' }}</s>
                                    &nbsp;
                                    <span style="font-family:Arial,Helvetica,sans-serif">
                                        {{ order.cartItems[i].product.BasePrice-order.cartItems[i].unitPriceSaleOff
                                        | number:'1.0-0' }}
                                    </span>
                                </ng-container>
                                <ng-template #basePriceOnly>
                                    {{ order.cartItems[i].product.BasePrice | number:'1.0-0' }}
                                </ng-template>
                            </span>
                        </span>
                    </td>
                    <td style="border-bottom:1px dashed black; text-align:center">
                        <span style="font-size:11px">{{ order.cartItems[i].quantity}} </span>

                    </td>
                    <td style="border-bottom:1px dashed black; text-align:center"><span style="font-size:11px"><span
                                style="font-family:Arial,Helvetica,sans-serif">{{ order.cartItems[i].product.Unit}}
                            </span>
                        </span>
                    </td>
                    <td style="border-bottom:1px dashed black; text-align:right">
                        <span style="font-size:11px">
                            <ng-container *ngIf="order.cartItems[i].unitPriceSaleOff > 0; else normalTotal">
                                {{
                                (order.cartItems[i].product.BasePrice - order.cartItems[i].unitPriceSaleOff) *
                                order.cartItems[i].quantity
                                | number:'1.0-0'
                                }}
                            </ng-container>
                            <ng-template #normalTotal>
                                {{ order.cartItems[i].product.BasePrice * order.cartItems[i].quantity |
                                number:'1.0-0' }}
                            </ng-template>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>

        <table border="0" cellpadding="3" cellspacing="0" style="margin-top:0px; width:98%">
            <tfoot>
                <tr>
                    <td style="font-weight:bold; text-align:right; text-wrap:nowrap"><span style="font-size:12px">Tổng
                            tiền hàng:</span></td>
                    <td style="font-weight:bold; text-align:right"><span style="font-size:14px">{{order.totalPrice |
                            number:'1.0-0'}}</span></td>
                </tr>
                <tr>
                    <td style="font-weight:bold; text-align:right; text-wrap:nowrap"><span style="font-size:12px">
                            Chiết khấu: </span></td>
                    <td style="font-weight:bold; text-align:right"><span style="font-size:14px">
                            {{order.discountAmount| number:'1.0-0'}}</span>
                    </td>
                </tr>
                <tr>
                    <td style="font-weight:bold; text-align:right; text-wrap:nowrap"><span style="font-size:12px">Tổng
                            thanh toán:</span></td>
                    <td style="font-weight:bold; text-align:right"><span
                            style="font-size:14px">{{order.totalPrice-order.discountAmount | number:'1.0-0'}}</span>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right; text-wrap:nowrap"><span style="font-size:11px">Tổng
                            thanh toán (+ 8% VAT):</span></td>
                    <td style="text-align:right"><span
                            style="font-size:11px">{{(order.totalPrice-order.discountAmount)*1.08 | number:'1.0-0'}}</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center; padding-top:10px;">
                        <img [src]="getQrImageUrl()" alt="QR thanh toán" style="width:80px; height:80px;" />
                        <div style="font-size:8px; margin-top:4px;">Quét QR để thanh toán</div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center; text-wrap:nowrap;font-size:10px;font-style: italic ;">
                         <p></p>
                    <u>*Lưu ý: Vui lòng kiểm tra kỹ hàng trước khi rời quầy.<br>Không đổi trả hàng đã mua.</u>
                </td>
                </tr>
            </tfoot>
        </table>
    </div>
</body>