.dialog-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 8px;

}

.header {
  display: flex;
  justify-content: space-between;
  background: #0070F4;
}

.mat-mdc-dialog-content {
  max-height: max-content;
  
}

.mat-mdc-dialog-title {
  color: #f5f5f5 !important;
  text-align: center !important;
}

h1[mat-dialog-title] {
  font-weight: 500;
}

.close-button {
  width: 40px;
  height: 40px;
  line-height: 40px;
}


.form-content {
  display: flex;
  gap: 32px;
}

.left-column,
.right-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 8px;
}

.avatar-section {
  display: flex;
  gap: 16px;
  align-items: flex-start;
  margin-bottom: 16px;
}

.avatar-placeholder {
  width: 120px;
  height: 120px;
  border: 2px dashed #ccc;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.choose-image-btn {
  margin-top: 10px;
}

mat-form-field {
  width: 100%;

}

.dob-gender-row {
  display: flex;
  align-items: center;
  gap: 16px;
}

.dob-field {
  flex: 1;
}

.gender-radio-group,
.type-radio-group {
  display: flex;
  gap: 20px;
  margin: 10px 0;
}

.edit-icon {
  cursor: pointer;
}

mat-dialog-actions {
  padding: 16px 24px;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: flex-end;

}

button[mat-flat-button] {
  background-color: #28a745;
  color: white;
}