.main-content {
  background: #ffffff;
  width: 30%;
  height: 100%;
  margin-left: auto;
  padding-bottom: 15px;
  font-size: 13px;
  position: fixed;
  right: 0;
}

.summary-section {
  background: white;
  margin: 10px;
  padding: 15px;
  border-radius: 4px;
  margin-left: 0px;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  padding: 6px 0;
}

.summary-row:last-child {
  border-bottom: none;
}

.total {
  font-weight: bold;
  font-size: 13px;
}

.total-amount {
  color: #2196F3;
  font-size: 14px;
}

.change-amount {
  display: flex;
  align-items: center;
  gap: 100px;
  color: #1dce17;
  font-size: 17px;
}

.customer-payment::-webkit-inner-spin-button,
.customer-payment::-webkit-outer-spin-button {
  -webkit-appearance: none;
  padding-right: 15px;
}

.customer-payment {
  text-align: right;
  font-size: 17px;
  border: none;
  border-bottom: 1px solid #6e6d6d;
  padding-top: 5px;
  margin-right: -5px;
  padding-right: 5px;
}

.payment-section {
  background: white;
  margin: 5px;
  border-radius: 4px;
}

.quick-amounts {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 10px;
  background: #f5f5f5;
  border-radius: 15px;
  padding: 5px;
}

.amount-btn {
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  background: #ffffff;
  cursor: pointer;
  font-size: 12px;
}

.amount-btn:hover {
  background: #e0e0e0;
}

.checkout-section {
  margin: 20px 5px 0px 5px;
}

.checkout-btn {
  width: 29%;
  padding: 15px;
  background: #0070F4;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  position: fixed;
  bottom: 40px;
  right: 5px;
  width: 29%;
}

.checkout-btn:hover {
  background: #013877;
}

.notes-section {
  margin-right: 15px;
  position: fixed;
  bottom: 5px;
  left: 5px;
  width: 100%;
}

.notes-input {
  width: 65%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: white;
}

input:focus,
input:active {
  box-shadow: none;
  border-radius: 2px;
  outline: none;
}
